<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>
   Page
  </title>
<link href="{{ url_for('static', filename='gendermagstyles.css') }}" media="all" rel="stylesheet" type="text/css" />
<link href="dclogo.png" rel="icon" type="image/x-icon" />
</head>
<body>
<div id="topbar">
  <div id="titleblock">
    <a href="/dc">GenderMag Automated Inclusivity Detector</a><br>
    <span id="subtitle">Automated tool to make capture software inclusivivity bugs</span><br>
    <br>
    <span id="resules">You just evaluated this HTML page for Subgoal: SUB and Action: AC</span><br>
    </div>
  <div id="filterblock">
    <div class="buttonwrap catbuttons">
      <div>Violations found on this page:</div>
      
Rule 1 violated: Keywords not found on the webpage.

Subgoal keywords: ['SUB'], Action Keywords: []

Rule 3 violated: Link is not labelled. Click on Results to view highlighted errors

    </div>
  </div>
</div>
<div id="gradientbar">&nbsp;</div>

<div id="topspacer">&nbsp;</div>

<div id="pagebody">
<div>
<h2 class="subhead">
    Course Sequences
   </h2>
<p>
    This course is the first part of a three-course sequence. The sequence continues in
    <a href="/courses/electrical-engineering-and-computer-science/6-046j-design-and-analysis-of-algorithms-spring-2015/index.htm">
      6.046J Design and Analysis of Algorithms
    </a>
    .
   </p>
<h2 class="subhead">
    Course Collections
   </h2>
<p>
    See related courses in the following collections:
   </p>
<h3 class="subsubhead">
    Cross-Disciplinary Lists
   </h3>
<ul>
<li>
<a href="/courses/intro-programming">
      Introductory Programming Courses
     </a>
</li>
</ul>
<h3 class="subsubhead">
    Find Courses by Topic
   </h3>
<ul>
<li>
<a href="/courses/find-by-topic/#cat=engineering&amp;subcat=computerscience&amp;spec=algorithmsanddatastructures">
      Computer Science &gt; Algorithms and Data Structures
     </a>
</li>
<li>
<a href="/courses/find-by-topic/#cat=engineering&amp;subcat=computerscience&amp;spec=algorithmsanddatastructures">
      Test List Item
     </a>
</li>
<li>
<a STYLE="background-color: rgb(255,255,0)"  href="/courses/find-by-topic/#cat=engineering&amp;subcat=computerscience&amp;spec=algorithmsanddatastructures">
      www.googl.co.in
     </a>
</li>
<li>
<a STYLE="background-color: rgb(255,255,0)"  href="/courses/find-by-topic/#cat=engineering&amp;subcat=computerscience&amp;spec=algorithmsanddatastructures">
      https://www.facebook.com
     </a>
</li>
</ul>
<h2 class="subhead">
    MIT Crosslinks
   </h2>
<p>
    Explore the topics covered in this course with
    <a href="http://crosslinks.mit.edu/topics/?query=subject6.006&amp;utm_source=ocw&amp;utm_medium=CHP&amp;utm_campaign=Crosslinks">
     MIT Crosslinks
    </a>
    , a website that highlights connections among select MIT undergraduate STEM
    <img alt="Question_cl logo" class="question" src="/images/icon-question-cl.png"/>
    courses and recommends specific study materials from OCW and others.
    <a href="/courses/crosslinks/">
     Learn more
    </a>
    .
   </p>
</div>
</body>
<img src=""/>
<script type="text/javascript">
  console.log("text console log");
 </script>
</html>