<!doctype html>
<html lang="en" dir="ltr">

  <head>
      <meta charset="utf-8">
        <link href="gendermagstyles.css" media="all" rel="stylesheet" type="text/css" />
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <style>
          .bg {
          margin:10;
          padding:10px;
          width:100%;
          height:100%;
          font-family:'open_sansregular';
          background-color:white;
          color: black;
        }
        </style>
  </head>


<!-- <title>The GenderMag Project | Automated Inclusivity Detector</title> -->
<body class = "bg">  
<div>
    <p>Expand the section above to view the Abi persona. The violations below all affect the Information Processing style of Abi.</p>

    <p>  On the Right, is the evaluated HTML page for  <br> Subgoal: "{SUBGOAL}" <br> Action: "{ACTION}"</p>

<div>
  <u>Results for this page:</u> <br>
      {VIOLATIONS}
</div> <br>


<!-- <img src="Abi2.png" alt="Abi persona" style="border: 0.5pxx solid #000;" height="auto" width="auto">
</div> -->


</body>
</html>