<!doctype html>
<html>

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132750618-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-132750618-1');
</script> -->
<title>The GenderMag Project | Automated Inclusivity Detector</title>
<meta charset="utf-8"> 
<link href="stylesheet.css" media="all" rel="stylesheet" type="text/css" />
<!-- Favicon: the little picture on the tab -->
<link href="dclogo.png" rel="icon" type="image/x-icon" />  

</head>

<body>

<div id="topbar">
  <div id="titleblock">
    <a href="/dc">GenderMag Automated Inclusivity Detector</a><br>
    <span id="subtitle">Automated tool to make capture software inclusivivity bugs</span><br>
    <br>
    <span id="resules">You just evaluated this HTML page for Subgoal: {subgoal} and Action: {action}</span><br>
    <!-- <span id="aboutlink"><a href="about.php">(What is this website and how do I use it?)</a></span> -->
  </div>
  <div id="filterblock">
    <div class="buttonwrap catbuttons">
      <div>Violations found on this page:</div>
      {ADD LINK TO VIOLATIONS}
    </div>
  </div>
</div>
<div id="gradientbar">&nbsp;</div>

<div id="topspacer">&nbsp;</div>

<div id="pagebody">