<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/app-wa-b068d97a1df98ee908fe83352093edcb.css?vsn=d">
<script src="/js/settings-5f77fd406dcb97ac12d6c5f502a6e441.js?vsn=d"></script>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css" />
<script src="https://site-assets.fontawesome.com/releases/v6.0.0/js/all.js" data-auto-add-css="false" data-auto-replace-svg="false"></script>
<script src="https://use.fortawesome.com/1ce05b4b.js"></script>
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.css">
<link href="{{ url_for('static', filename='styles.css') }}" media="all" rel="stylesheet" type="text/css" />

</head>


<body>  

<div class="topnav">
  <a class="active" href = "/">GenderMag Automated Inclusivity Detector</a>
</div>

        <!-- Result -->
        <br>
        <h1> Error in Execution <i class="fa-solid fa-circle-xmark" style="color: red;"></i></h1>
        <br>
        <h2> The tool works for HTML Files Only </h2>
        <br>
        <h2>Supported Extensions: (.htm, .html)</h2>
        

        <br><br><br><br>
        <div class="results img-container">
            <a id="startGenderMagButton2" style="position:absolute; left:40%; border-radius: 6px; color: #ffffff; font-size: 20px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" href="/uploadpage">Go Back To Evaluation Page</a>
        </div>
        


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    </body>
</html>



