<!doctype html>
<html>
	<head>
<title>The GenderMag Project | Automated Inclusivity Detector</title>
<meta charset="utf-8"> 
<link rel="stylesheet" type="text/css" href="/Users/chattera/Documents/GitHub/AID-GUI/static/styles.css">
<link href="{{ url_for('static', filename='styles.css') }}" media="all" rel="stylesheet" type="text/css" />
</head>


<body bgcolor="white">  

<div class="topnav">
  <a class="active">GenderMag Automated Inclusivity Detector</a>
</div>

<h1 class="logo">What is The GenderMag Automated Inclusivity Detector?
</h1> <br><br><br><br>


		<p align = "justify" style="font-size:20px; width: 90%">This tool automates the GenderMag method partially. The GenderMag Method (short for <u>Gender</u> Inclusiveness <u>Mag</u>nifier) is a method for finding gender-inclusiveness issues in software features. Using GenderMag, software developers and/or user experience (UX) teams can evaluate their software from a gender-inclusiveness perspective. Fixing issues that may disproportionately affect one gender over another can lead to better usability for everyone.
			</p>

		<p align = "justify" style="font-size:20px; width: 100%">More information about GenderMag can be found on our <a href="http://gendermag.org/" target="_blank">website</a>. (Read our paper here: <a href="https://ieeexplore.ieee.org/document/9402060" target="_blank">AID: An Automated Detector for Gender-Inclusivity Bugs in OSS Project Pages</a>.) </p> 
		<br><br>

		<a id="startGenderMagButton" style="position:relative; left:40%; border-radius: 6px; color: #ffffff; font-size: 22px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" href="/uploadpage">Let's get started!</a> <br><br>
	

<p style="font-size:18px; width: 50%"">For more information about GenderMag, watch this video:</p>

<div class='container2'>
            	<iframe style="float:middle;display: block;" title="The GenderMag method" id="video" width="540" height="245" src="https://www.youtube.com/embed/ucY8-tHD134"></iframe> 
</div>

</body>
</html>
