<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/app-wa-b068d97a1df98ee908fe83352093edcb.css?vsn=d">
<script src="/js/settings-5f77fd406dcb97ac12d6c5f502a6e441.js?vsn=d"></script>
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.0.0/css/all.css">
<script src="https://site-assets.fontawesome.com/releases/v6.0.0/js/all.js" data-auto-add-css="false" data-auto-replace-svg="false"></script>
<script src="https://use.fortawesome.com/1ce05b4b.js"></script><link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/1ce05b4b/publications/117700/woff2.css" media="all">
<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2.6.3/dist/cdn/docsearch.min.css">
<link href="/static/styles.css" media="all" rel="stylesheet" type="text/css">

</head>


<body data-new-gr-c-s-check-loaded="14.1052.0" data-gr-ext-installed="">  

<div class="topnav">
  <a class="active" href="/">GenderMag Automated Inclusivity Detector</a>
</div>

        <!-- Result -->
        
        <p> Both HTML files have been checked for inclusivity bugs! </p>
        
        
            <p><i class="fa-solid fa-circle-check" style="color: green;"></i> Before Action Page has no violations</p>
        

        
            <p><i class="fa-solid fa-circle-xmark" style="color: red;"></i> After Action Page has rule violations</p>
        
        
<!--         <p style ="font-size:20px"> Please click on "Results (Before Action)" to go to the evaluation of the first HTML uploaded and the "Results (After Action)" for the evaluation of the second HTML uploaded. </p> -->

<!--             <p>
            <pre>
                0 
            </pre>
            </p> -->
        
        
        
        <div class="results img-container">
            <a id="startGenderMagButton2" style="position:absolute; left:22%; border-radius: 6px; color: #ffffff; font-size: 10px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" href="/download" download="">Download Report</a>
        </div>
        <br><br>
        <div class="results img-container">
         <a id="startGenderMagButton1" style="position:absolute; left:5%; border-radius: 6px; color: #ffffff; font-size: 10px; background: #4a96ad; padding: 10px 20px; text-decoration: none;" href="/highlight1" target="_blank">Click here for results (Before Action)</a>
            <a id="startGenderMagButton2" style="position:absolute; left:30%; border-radius: 6px; color: #ffffff; font-size: 10px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" href="/highlight2" target="_blank">Click here for results (After Action) </a>

        </div>
        <br><br>
        <div class="results img-container">
            <a id="startGenderMagButton2" style="position:absolute; left:20%; border-radius: 6px; color: #ffffff; font-size: 10px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" href="/uploadpage">Evaluate another webpage</a>
        </div>
        
<!--         <div class="results2 img-container">
            <p>
            <pre>
                 1 
            </pre>
            </p>
            <a id="startGenderMagButton2" style="position:absolute; left:70%; border-radius: 6px; color: #ffffff; font-size: 20px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" href="/highlight2" target="_blank">Click here for results (After Action) </a>
        </div>
 -->

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    



</body>
</html>



